@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
.yl-box {
}
.yl-box_border {
  border: getCssVar('border');
  box-sizing:border-box
}
.yl-box_shadow {
  box-shadow: getCssVar('box-shadow-lighter');
  box-sizing:border-box
}
.yl-box_background {
  background: getCssVar('fill-color-extra-light');
}