@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

.yl-tool-bar {
    box-sizing:border-box;
    // border: getCssVar('border');
    font-size: getCssVar('font-size-small');
    color: getCssVar('text-color-primary');
    height:auto;
    display: flex;
    flex-direction: column;
    .el-form-item {
      margin-bottom: getCssVar('layout-gap-small');
    }
    .filter-area {
      display: flex;
      background: getCssVar('fill-color-extra-light');
      .filter-content {
        flex: 1;
        padding: getCssVar('layout-gap-small');
      }
      .tool-func {
        padding: calc(getCssVar('layout-gap-small') + getCssVar('layout-gap-small') / 2) getCssVar('layout-gap-small') getCssVar('layout-gap-small') 0;
        display: flex;
        .display-btn {
          text-align: right;
          color: getCssVar('color-primary');
          cursor: pointer;
          padding: getCssVar('layout-gap-small') 0;
        }
      }
    }
    .divider {
      border-bottom: 1px solid getCssVar('border-color-light');
    }
    .tool {
      background: getCssVar('fill-color-extra-light');
      display:flex;
    }
  }
.yl-tool-bar_border {
  border: getCssVar('border');
  box-sizing:border-box
}