@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

.yl-tool-bar {
    box-sizing:border-box;
    padding: getCssVar('layout-gap-small');
    background: getCssVar('fill-color-extra-light');
    // border: getCssVar('border');
    font-size: getCssVar('font-size-small');
    color: getCssVar('text-color-primary');
    height:auto;
    display: flex;
    flex-direction: column;
    .el-form-item {
      margin-bottom: getCssVar('layout-gap-small');
    }
    .filter-area {
      display: flex;
      .filter-content {
        flex: 1;
        .more {
          height: auto;
          .more-lable {
            font-size: getCssVar('font-size-small');
            color: getCssVar('text-color-primary');
            text-align: right;
            padding-bottom: getCssVar('layout-gap-small');
            cursor: pointer;
          }
        }
        .filter {
          height:auto;
          /* padding: getCssVar('layout-gap-base') 0px; */
        }
      }
      .tool-func {
        padding-left: getCssVar('layout-gap-small');
        display: flex;
        .display-btn {
          text-align: right;
          color: getCssVar('color-primary');
          cursor: pointer;
          padding: getCssVar('layout-gap-small') 0;
        }
      }
    }
    .divider {
      border-bottom: 1px solid getCssVar('border-color-light');
      margin: 0px 0px getCssVar('layout-gap-small') 0px;
    }
    .tool {
      display:flex;
    }
  }