
.main-page {
  height: 100%;
  width: 100%;
  padding: 0px;
  background: var(--el-bg-color-page);
}
.padding-base {
  padding: var(--el-layout-gap-base)
}
.padding-large {
  padding: var(--el-layout-gap-large)
}
.padding-small {
  padding: var(--el-layout-gap-small)
}
.padding-clear-left {
  padding-left: 0px;
}
.padding-clear-right {
  padding-right: 0px;
}
.padding-clear-top {
  padding-top: 0px;
}
.padding-clear-bottom {
  padding-bottom: 0px;
}
.button-margin-left {
  margin-left: 50px !important;
}
/* 单据单号 */
.order-no {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: var(--el-font-size-base);
  span {
    color: red
  }
}
/* tabPanel样式 */
.tab-panel-base {
  box-sizing: border-box;
  padding: var(--el-layout-gap-base);
  background: var(--el-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  .el-tabs__content {
    height: 100%;
    overflow: auto;
  }
}
