
.main-page {
  height: 100%;
  width: 100%;
  padding: 0px;
  background: var(--el-bg-color-page);
}
.padding-base {
  padding: var(--el-layout-gap-base)
}
.padding-large {
  padding: var(--el-layout-gap-large)
}
.padding-small {
  padding: var(--el-layout-gap-small)
}
.padding-clear-left {
  padding-left: 0px;
}
.padding-clear-right {
  padding-right: 0px;
}
.padding-clear-top {
  padding-top: 0px;
}
.padding-clear-bottom {
  padding-bottom: 0px;
}
.button-margin-left {
  margin-left: 50px !important;
}